# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
.env
.env.*

# Flask instance folder
instance/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Coverage reports
htmlcov/
.coverage

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Database / SQLite (optional)
*.db

# Misc
*.bak
*.swp
*.tmp
